h1 {
    color: darkblue;
    font-size: 45px;
}

/*h2 {*/
/*    color: darkblue;*/
/*    font-size: 40px;*/
/*}*/

body {
    background: #f4f4f4;
    /*background: #3fbbff;*/
    /*background: #23153c;*/
    /*color: white;*/
    font-family: 'Catamaran', sans-serif;
}

.main-container {
    text-align: center;
}

.logo {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(26, 32, 44);
}

.logo span {
    color: #3371FF;
}


.top-btn button{
    font-size: 1em;
}

.top-btn a {
    display: inline;
    padding: 0;
}

#vanta-canvas {
    width: 100%;
    height: 100vh;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.text {
    font-size: 32pt;
    line-height: 36pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
}

.highlight {
    color: #e31b6d;
}

.button-main {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}

#main-link {
    color: white;
    text-decoration: none;
}


.posts-container {
    display: flex;
    justify-content: space-between;
}

.posts-container h2{
    color:darkblue;
    text-decoration: none;
}

.posts-container h2 a{
    /*text-decoration: none;*/
    /*color: white;*/
    color: darkblue;
}

.posts-container .posts-img-container {
    width: 40%;
}

.posts-container .posts-img-container img{
    width: 100%;
}

.post-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.post-img-container img{
    width: 100%;
    margin-bottom: 1rem
}

.article-content-container {
    display: flex;

}

.article-content {
    width: 100%;
}

.profile-img-container {
    aspect-ratio: 4 / 3;
    display: flex;
}

.profile-img-container img {
    width: 100%;
    object-fit: cover
    /*height: 100%;*/
}
.pager-container {
    padding: 0;
    margin: 40px 0;
    text-decoration: none;
    list-style-type:none;
}

.pager-container a {
    color: white;
}

/*.main-content .posts-container {*/
/*    background: #343A40;*/
/*}*/

/*.main-content .posts-text-container {*/
/*    color: white;*/
/*}*/

/*.main-content .post-container {*/
/*    background: #343A40;*/
/*}*/

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../static/img/bg-masthead0.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}


.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}

.center-form{
    color: black;
}

.table-container {
    table-layout: fixed;
}

.table-container td {
    overflow: hidden;
    text-overflow: ellipsis;
    nowrap:false;
}

.table-container th {
    overflow: hidden;
    text-overflow: ellipsis;
    nowrap:false;
}

.admin-sidebar {
    background-color: #343a40;
}

.admin-sidebar td {
    text-align: left;
}

.admin-sidebar td a{
    color: white;
}

.add-button {
    display: flex;
    justify-content: space-between;
}

.about_text {
    text-align: left;
}

.project-text {
    text-align: left;
}