{% extends "base.html" %}
{% block content %}


{% if current_user.is_authenticated %}

<h1>Add Blog Post...</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>

            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows='10') }}
            <br/>

            {{ form.post_pic.label(class="form-label") }}
            {{ form.post_pic(class="form-control") }}
            <br/>

<!--            {{ form.recaptcha }}-->
            {{ form.submit(class="btn btn-primary") }}
        </form>

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content', language='en') }}
    </div>
{% else %}
<h2>Must Be Logged In...</h2>
<p>Sorry, You must be logged in to access this page!</p>

<a href="{{ url_for('login') }}">Login Here</a>

{% endif %}

{% endblock content %}