{% extends "admin.html" %}

{% block page %}
            <h1>Post Management</h1>
            <table class="table is-fullwidth is-hoverable is-striped table-container">
                <thead class="thead-dark" >
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Content</th>
              <th>Date_Posted</th>
              <th>Post user ID</th>
              <th>Post img path</th>
              <th>Operation</th>
            </tr>
            </thead>
            <tbody>

            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content | truncate(30) }}</td>
                <td>{{ post.date_posted }}</td>
                <td>{{ post.poster_id }}</td>
                <td>{{ post.post_pic }}</td>
                <td>
                    <div class="tags">
                        <a href="#" class="tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                            Edit
                        </a>
                        <a href="#" class="tag is-danger is-light">
                            <span class="icon">
                                <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination ">

        {% if pagination.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('admin_post', page=pagination.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('admin_post', page=pagination.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('admin_post', page=page) }}">
                  {{ page }}
                </a>
              </li>
            {% else %}
              <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin_post', page=pagination.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('admin_post', page=pagination.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% endif %}
      </ul>
    </nav>
{% endblock page %}