{% extends "base.html" %}
{% block content %}


<br/>
    <h2>Change Your Password</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.password_old.label(class="form-label") }}
            {{ form.password_old(class="form-control") }}
            <br/>

            {{ form.password_new.label(class="form-label") }}
            {{ form.password_new(class="form-control") }}
            <br/>

            {{ form.password_new_confirm.label(class="form-label") }}
            {{ form.password_new_confirm(class="form-control") }}
            <br/>

<!--            {{ form.recaptcha }}-->
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <a href="{{ url_for('dashboard')}}" class="btn btn-outline-secondary btn-sm">Back To Dashboard</a>


{% endblock content %}