{% extends "base.html" %}
{% block content %}


    <h1>Dashboard</h1>
    <br/>
    <div class="card">
      <div class="card-header">
        Welcome {{ current_user.name }}!
      </div>
      <div class="card-body">
        <p class="card-text">

            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <strong>Name:</strong>
                        {{ current_user.name }}<br>

                        <strong>Username:</strong>
                        {{ current_user.username }}<br>

                        <strong>User Id:</strong>
                        {{ current_user.id }}<br>

                        <strong>Email:</strong>
                        {{ current_user.email }}<br>

                        <strong>About Author:</strong>
                        {{ current_user.about_author }}<br>
                        </p>

                        <strong>Date Joined:</strong>
                        {{ current_user.date_added }}<br>
                        </p>
                        <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                        <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-secondary btn-sm">Update Profile</a>
                        <a href="{{ url_for('change_password') }}" class="btn btn-primary btn-sm">Change Password</a>
                        <a href="{{ url_for('delete', id=current_user.id) }}"
                           class="btn btn-danger btn-sm",
                            data-toggle="modal" data-target="#userModal">Delete Account</a>

                    </div>
                    <div class="col-4 profile-img-container">
                        {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='img/' + current_user.profile_pic )}}" class="float-right">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/default.jpg')}}" width="200">
                        {% endif %}
                    </div>
                </div>
            </div>
      </div>

    </div>

    <!-- User Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete your account?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a href="{{ url_for('delete', id=current_user.id) }}",
               class="btn btn-outline-danger">Save Change</a>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <h1 id="personal_post">Personal Post Management</h1>
    <br/>
    {% block post_content %}
    <div class="card">


            <table class="table is-fullwidth is-hoverable is-striped table-container">
                <thead class="thead-dark" >
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Content</th>
              <th>Date_Posted</th>
              <th>Post user ID</th>
              <th>Post img path</th>
              <th>Operation</th>
            </tr>
            </thead>
            <tbody>

            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content | truncate(30) }}</td>
                <td>{{ post.date_posted }}</td>
                <td>{{ post.poster_id }}</td>
                <td>{{ post.post_pic }}</td>
                <td>
                    <div class="tags">
                        <a href="{{ url_for('user_post_edit',_anchor='personal_post', id=post.id ) }}" class="btn btn-primary btn-sm tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                            Edit
                        </a>
                        <a href="{{ url_for('user_post_delete', _anchor='personal_post', id=post.id ) }}" class="tag is-danger is-light btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#post{{post.id}}">
                            <span class="icon">
                                <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>

            {% endfor %}
            {% for post in posts %}
                <div class="modal fade" id="post{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure to delete this post?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('user_post_delete', id=post.id) }}",
                           class="btn btn-outline-danger">Save Change</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}


        </tbody>
            </table>


    </div>



    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination ">

        {% if pagination_post.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('dashboard',_anchor='personal_post', page_post=pagination_post.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('dashboard',_anchor='personal_post', page_post=pagination_post.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% endif %}

        {% for page in pagination_post.iter_pages() %}
          {% if page %}
            {% if page != pagination_post.page %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('dashboard',_anchor='personal_post', page_post=page) }}">
                  {{ page }}
                </a>
              </li>
            {% else %}
              <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination_post.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_post', page_post=pagination_post.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_post', page_post=pagination_post.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% endif %}
      </ul>
    </nav>

    {% endblock post_content %}
    <br><br>

     <h1 id="personal_comment">Comment Management</h1>
            <br>
            {% block comment_content %}
            <table class="table is-fullwidth is-hoverable is-striped table-container">
                <thead class="thead-dark" >
            <tr>
              <th>ID</th>
              <th>Body</th>
              <th>Date_Posted</th>
              <th>Author ID</th>
              <th>Post ID</th>
              <th>Operation</th>
            </tr>
            </thead>
            <tbody>

            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.body | truncate(30) }}</td>
                <td>{{ comment.date_posted }}</td>
                <td>{{ comment.author_id }}</td>
                <td>{{ comment.post_id }}</td>
                <td>
                    <div class="tags">
                        <a href="{{ url_for('user_comment_edit',_anchor='personal_comment', id=comment.id ) }}" class="btn btn-primary btn-sm tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                            Edit
                        </a>
                        <a href="{{ url_for('user_comment_delete', _anchor='personal_comment', id=comment.id ) }}" class="tag is-danger is-light btn btn-danger btn-sm"
                         data-toggle="modal" data-target="#userCommentModal{{comment.id}}">
                            <span class="icon">
                                <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% for comment in comments %}
                <div class="modal fade" id="userCommentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure to delete this post?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('user_comment_delete', id=comment.id) }}",
                           class="btn btn-outline-danger">Save Change</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </tbody>
            </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination ">

        {% if pagination_comment.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_comment', page_comment=pagination_comment.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_comment', page_comment=pagination_comment.prev().page)}}" aria-label="Previous">
              <span aria-label="true">&laquo; Previous</span>
            </a>
          </li>
        {% endif %}

        {% for page in pagination_comment.iter_pages() %}
          {% if page %}
            {% if page != pagination_comment.page %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_comment', page_comment=page) }}">
                  {{ page }}
                </a>
              </li>
            {% else %}
              <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination_comment.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_comment', page_comment=pagination_comment.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('dashboard', _anchor='personal_comment', page_comment=pagination_comment.next().page )}}" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
          </a>
        <li>
        {% endif %}
      </ul>
    </nav>
    {% endblock comment_content %}
    <br><br>


{% endblock content %}