{% extends "base.html" %}
{% block content %}


<br/>
    <h2>Edit Comment...</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.body.label(class="form-label") }}
            {{ form.body(class="form-control") }}
            <br/>
<!--            {{ form.recaptcha }}-->
            {{ form.submit(class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body', language='en') }}
    </div>
    <a href="{{ url_for('post', id=id)}}" class="btn btn-outline-secondary btn-sm">Back To Post</a>


{% endblock content %}