{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

<br/>
    <h2>Edit Post...</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>

            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows='10') }}
            <br/>

            {{ form.submit(class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content', language='en') }}
    </div>
    <a href="{{ url_for('posts') }}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>


{% endblock content %}