<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Tsang An Lee's profile</title>
    <link rel="stylesheet" href="/blog/static/style.css">
</head>
<body>
    <img class="profile" src="/blog/static/img/profile.png" alt="Andy's profile picture">
    <h1>I'm learning HTML and CSS!</h1>
    <p>
        Hello, my name is Tsang An Lee. I'm studying MSc in Computing in Cardiff university.
        This is my personal portfolio
    </p>
    <p>
        Hello, my name is Tsang An Lee. I'm studying MSc in Computing in Cardiff university.
        This is my personal portfolio
    </p>

</body>
</html>