<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tsang An Lee's portfolio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Own CSS   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    {% include 'navbar.html' %}

    <div id="vanta-canvas" class="flex">
      <div class="text">
          Hello, I'm
          <span class="highlight">Tsang An Lee</span>
          .
          <br>
          I'm a MSc student studying in Computer Science.
      </div>
      <div class="button-main" dest="about">
          <a id="main-link" href="#projects">View my work <i class="mdi mdi-arrow-right"></i></a>
      </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row main-container">
            <div class="col">
                <h1 id="about">About me</h1>
                <h5>
                    Hi, I'm Andy Lee, and I graduated from the University of Universe in 2015 with a degree in Computer Science. My interests are in Backend development, and I love to create beautiful and performant products with delightful user experiences.
                    I previously worked at Company X, where I led the XYZ project. XYZ was a service for companies to make urban transportation expenses convenient. Companies can create employee groups, set ride policies, and share corporate payment methods with their employees.
                    I'm interested in the Front End Engineer role at XYZ as I like working in this ridesharing space and creating products to improve the lives of users.
                </h5>
            </div>
            <div class="col">
                <img src="../static/img/cat.jpeg" width="550">
            </div>
        </div>
        <br><br>
        <div class="row main-container">
            <div class="col">
                <h1>Skills</h1>

                <section class="skills-icons">
                    <img src="../static/img/html-5.png" class="skill-icon" alt="HTML icon" width="64">
                    <img src="../static/img/css-3.png" class="skill-icon" alt="CSS icon" width="64">
                    <img src="../static/img/js.png" class="skill-icon" alt="Javascript icon" width="64">
                    <img src="../static/img/java.png" class="skill-icon" alt="Java icon" width="64">
                    <img src="../static/img/python.png" class="skill-icon" alt="Python icon" width="64">
                    <img src="../static/img/spring.png" class="skill-icon" alt="Spring icon" width="64">
                    <img src="../static/img/flask.png" class="skill-icon" alt="Flask icon" width="64">
                    <img src="../static/img/mysql.png" class="skill-icon" alt="MySQL icon" width="64">
                    <img src="../static/img/git.png" class="skill-icon" alt="Git icon" width="64">
                    <img src="../static/img/linux.png" class="skill-icon" alt="Linux icon" width="64">
                </section>
            </div>
        </div>
        <br><br>
        <div class="row main-container">
            <div class="col">
                <h1 id="projects">Projects</h1>

                <div class="row card-deck">
                    {% for project in projects %}
                    <div class="col-4 mb-4">
                      <div class="card h-100">
                        <img src="{{ url_for('static', filename='img/project/' +  project.img) }}" class="card-img-top" alt="..." style="width: 100%">
                        <div class="card-body">
                          <h5 class="card-title">{{ project.title }}</h5>
                          <p class="card-text">{{ project.content }}</p>
                          <p class="card-text"><small class="text-muted">Created: {{ project.date_created }}</small></p>
                        </div>
                          <div class="card-footer">
                              <a href="https://github.com/" class="card-link"><img src="../static/img/link-github.png" width="35"></a>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    {% include 'footer.html' %}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/vanta.net.min.js"></script>
    <script>
      VANTA.NET({
        el: "#vanta-canvas",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 100.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x3fbbff
      })
    </script>
    </body>
</html>