<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Own CSS   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% include 'menu.html' %}


    <div id="vanta-canvas" class="flex">
      <div class="text">
          Hello, I'm
          <span class="highlight">Tsang An Lee</span>
          .
          <br>
          I'm a full-stack web developer.
      </div>
      <div class="button-main" dest="about">
            View my work <i class="mdi mdi-arrow-right"></i>
      </div>
    </div>
    {% include 'navbar.html' %}
    <h1>I'm learning Computer Science!</h1>
    <p>
        Hello, my name is Tsang An Lee. I'm studying MSc in Computing in Cardiff university.
        This is my personal portfolio
    </p>
    <p>
        Hello, my name is Tsang An Lee. I'm studying MSc in Computing in Cardiff university.
        This is my personal portfolio
    </p>
    <img src="../static/img/profile.jpg">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/vanta.net.min.js"></script>
    <script>
      VANTA.NET({
        el: "#vanta-canvas",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 100.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x3fbbff
      })
    </script>
</body>
</html>