<div class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
        <div class="nav-item logo float-right">
          <a href="{{ url_for('index') }}" class="navbar-link navbar-brand logo">T<span>/</span>L</a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="my-2 my-lg-0 justify-content-between top-btn">
            {% if current_user.id == 1 %}
                <a class="nav-link" href="{{ url_for('admin') }}"><button type="button" class="btn btn-outline-success btn-lg ml-sm-2">Admin</button></a>
            {% endif %}
            <a class="nav-link" href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-outline-success btn-lg ml-sm-2">Dashboard</button></a>
            <a class="nav-link" href="{{ url_for('logout') }}"><button type="button" class="btn btn-outline-success btn-lg ml-sm-2">Log Out</button></a>
        </div>
        {% else %}
        <div class="my-2 my-lg-0 justify-content-between top-btn" >
            <a class="nav-link" href="{{ url_for('register') }}"><button type="button" class="btn btn-outline-success btn-lg ml-sm-2">Sign Up</button></a>
            <a class="nav-link" href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-success btn-lg ml-sm-2">Log In</button></a>
        </div>
        {% endif %}

</div>