{% extends "base.html" %}
{% block content %}


<br/>

    <div class="shadow p-3 mb-5 bg-body rounded">

        <!-- operational button for post  -->
        <div class="float-right">
            {% if post.poster_id == current_user.id or current_user.id == 1 %}
                <a href="{{ url_for('edit_post', id=post.id) }}",
                   class="btn btn-outline-secondary btn-sm">Edit Post</a>
                <a href="{{ url_for('delete_post', id=post.id) }}",
                   class="btn btn-outline-danger btn-sm",
                   data-toggle="modal" data-target="#postModal">Delete Post</a>
            {% endif %}
                <a href="{{ url_for('posts') }}",
                    class="btn btn-outline-secondary btn-sm">Back To Blog</a>
        </div>

        <!-- Main Post content section  -->
        <h2>{{ post.title }}</h2>
        <small>By: {{ post.poster.name }}<br>
                {{ post.date_posted }}</small><br><br>
        <div class="post-img-container">
            {% if post.post_pic %}
                <img src="{{ url_for('static', filename='img/' +  post.post_pic) }}">
            {% endif %}
        </div>

        <div class="article-content-container">
            <div class="article-content">
                {{ post.content|safe }}<br><br>
            </div>

        </div>


        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2 profile-img-container">
                    {% if post.poster.profile_pic %}
                        <img src="{{ url_for('static', filename='img/' + post.poster.profile_pic )}}" width="150" class="float-left">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/user.png')}}" width="150" class="float-left">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.poster.name }}
                        </h5>
                        <p class="card-text">
                            {% if post.poster.about_author %}
                                {{ post.poster.about_author }}
                            {% else %}
                                Author has no about profile yet...
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pager pager-container">
          <li class="previous float-left">
              <button type="button" class="btn btn-secondary">
                  <a href="{{ url_for('switch_prev_page', id=id) }}">&larr; Older Post</a>
              </button>
          </li>
          <li class="next float-right">
              <button type="button" class="btn btn-secondary">
                  <a href="{{ url_for('switch_next_page', id=id) }}">Newer Post &rarr;</a>
              </button>
          </li>
        </ul>


        <br><br><br><br>

        {% if comments.count() == 0 %}
            <br/><br/>
        {% else %}
        <div style="text-align: left">
            <h4>{{comments.count()}} Comments</h4>
        </div>
        {% endif %}

        <!-- Comment Section  -->
        {% for comment in comments %}
            {% if comment %}
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src=
                            "{{ url_for('static', filename='img/' + comment.author.profile_pic) }}" width="60">
                        <div class="d-flex flex-column justify-content-start ml-2"><span
                                class="d-block font-weight-bold name">{{comment.author.name}}</span><span
                                class="date text-black-50">Shared at {{comment.date_posted}}</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{comment.body|safe}}</p>
                    </div>
                    {% if comment.author_id == current_user.id or current_user.id == 1 %}
                        <a href="{{ url_for('edit_comment', id=comment.id) }}",
                        class="btn btn-outline-secondary btn-sm">Edit Comment</a>
                        <a href="{{ url_for('delete_comment', id=comment.id) }}",
                        class="btn btn-outline-danger btn-sm",
                        data-toggle="modal" data-target="#commentModal">Delete Comment</a>
                    {% endif %}
                </div>
                <br/>
            {% endif %}
        <!-- Comment Modal       -->
        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete this comment?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_comment', id=comment.id) }}",
                   class="btn btn-outline-danger">Save Change</a>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        <div class="divider"></div>
        {% if current_user.is_authenticated %}

            <hr>

            <h3>Leave a Comment</h3>
            <form method="POST">
                {{ form.hidden_tag() }}
                <br/>
                {{ form.body.label(class="form-label") }}
                {{ form.body(class="form-control") }}
                <br/>
                {{ form.submit(class="btn btn-primary") }}
                <br/><br/>
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content', language='en') }}
<!--            {{ form.recaptcha }}-->
<!--            <br/>-->
        {% else %}
            <a class="nav-link" href="{{ url_for('login') }}"><h3>Please log in to leave a comment</h3></a>
            <br/><br/>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a href="{{ url_for('delete_post', id=id) }}",
                   class="btn btn-outline-danger">Save Change</a>
              </div>
            </div>
          </div>
        </div>


    </div>




{% endblock content %}