{% extends "base.html" %}
{% block content %}


<br/>

{% for post in posts %}

    <div class="shadow p-3 mb-5 bg-body rounded posts-container">
        <div class="posts-text-container">
            <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h2>
            <small>By: {{ post.poster.name }}<br>
                {{ post.date_posted }}</small><br><br>
            {{ post.content|safe| truncate(100) }}<br><br>
            <a href="{{ url_for('post', id=post.id) }}",
               class="btn btn-outline-secondary btn-sm">View Post</a>

            {% if post.poster_id == current_user.id or current_user.id == 1  %}
            <a href="{{ url_for('edit_post', id=post.id) }}",
               class="btn btn-outline-secondary btn-sm">Edit Post</a>

            <a href="{{ url_for('delete_post', id=post.id) }}",
               class="btn btn-outline-danger btn-sm",
                data-toggle="modal" data-target="#postsModal">Delete Post</a>
            {% endif %}
        </div>
        <div class="posts-img-container">
            {% if post.post_pic %}
                <img src="{{ url_for('static', filename='img/' +  post.post_pic) }}">
            {% endif %}

<!--            <img src="../static/img/nasa.jpg" class="post-img">-->
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="postsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete this post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <a href="{{ url_for('delete_post', id=post.id) }}",
               class="btn btn-outline-danger">Save Change</a>
          </div>
        </div>
      </div>
    </div>

{% endfor %}

{{ render_pagination(posts, 'posts') }}
<a id="button"></a>



{% endblock content %}