{% extends "base.html" %}
{% block content %}


    <h2>Reset Your Password</h2>

    <div class="shadow p-3 mb-5 bg-body rounded">

        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.password_new.label(class="form-label") }}
            {% if form.password_new.errors %}
                {{ form.password_new(class="form-control is-invalid") }}
                {% for error in form.password_new.errors %}
                    <small><span style="color: red">{{ error }}</span></small>
                {% endfor %}
            {% else %}
                {{ form.password_new(class="form-control") }}
            {% endif %}
            <br/><br/>

            {{ form.password_new_confirm.label(class="form-label") }}
            {{ form.password_new_confirm(class='form-control') }}
            <br/><br/>
<!--            {{ form.recaptcha }}-->
<!--            <br/>-->

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>


{% endblock content %}