{% extends "dashboard.html" %}

{% block post_content %}

<form method="POST" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>

            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows='10') }}
            <br/>

            {{ form.post_pic.label(class="form-label") }}
            {{ form.post_pic(class="form-control") }}
            <br/>

<!--            {{ form.recaptcha }}-->
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ url_for('dashboard', _anchor='personal_post' )}}" class="btn btn-secondary">Cancel</a>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body', language='en') }}


{% endblock post_content %}